# Vagrant Settings
.vagrant
*.log

# Django Data
#/static
/media
/secret.jason

# Python Files
__python__/
*.py[cod]

# Virtual Env
/venv

# Database
/data

# temp file dir
/temp

# backup dir
*bak/

# 2019.11.08-LZ
