{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Ebooks</li>
{% endblock %}

{% block content %}

<!-- <div class="mb-4">
    <a href="{% url 'add_book' %}" class="btn btn-primary">Add New Ebooks</a>
  </div> -->
<div class="row" style="position:relative;top:-10px;">

  <div class="col-3" style="padding-top:55px;">


    <div class="row">
      <div class="col">
        Publisher Filter:<br />
        <select id="status-filter">
          <option href="{% url 'browse_book' status_filter=0  %}" value="0"> -- all -- </option>
          {% for publisher in publishers %}
          <option href="{% url 'browse_book' status_filter=publisher.pk %}" value="{{publisher.pk}}">
            {{publisher.name}}
          </option>
          {% endfor %}
        </select>
      </div>
    </div>



  </div>
  <div class="col-9" style="padding-left:20px;padding-right:10px;">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>URL</th>
          <th>Create Date</th>
        </tr>
      </thead>
      <tbody>
        {% for ebook in ebooks %}
        <tr>
          <td>
            <a href="{% url 'ebook_detail' ebook.pk %}"> {{ ebook.title}} </a>
          </td>
          <td>
            {{ ebook.author}}
          </td>
          <td>
            <a href="{{ ebook.url}}" , target="_blank">{{ ebook.url}}</a>
          </td>
          <td>
            {{ ebook.create_at}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    //--------------------------------------------------------------------------
    $(document).ready(function () {
      if (!("{{ status_filter }}" === null)) {
        $('#status-filter').val("{{ status_filter }}");
      }
    });
    //--------------------------------------------------------------------------
    $('#status-filter').change(function () {
      window.location.href = $(this).find(":selected").attr('href');
    });
  </script>
  {% endblock %}