{% extends 'base.html' %}
{% block  breadcrumb %}
{% load static %}

{% endblock %}

{% block content %}
<section id="sp-page-title">
  <!-- <div class="container"> -->
  <div id="sp-title" class="col-sm-12 col-md-12">
    <!-- <div class="sp-column "> -->
    <div style="background-image: url({% static '/images/cover.jpg' %}); background-size: cover">
      <div class="container">
        <br>
        <h1 class="text-white-50">Welcome</h1><br>
        <span class="text-white-50">By: Liang Zhong</span><br>
        <span class="text-white-50">2019-11-11</span> <br>
      </div>
      <br>
      <!-- </div> -->
    </div>
  </div>
  <!-- </div> -->
</section>
<section class="col-sm-12 col-md-12">
  <!-- <div  id="top-jumbotron" class="jumbotron"> -->
  <jumbotron class="mb-0">
    <div>
      <h4>About</h4>
      <p>This is a pilot project, using for delivering proof of concepts on designing of library ebook database system.</p>
    </div>
    <div>
      <h4>Thanks</h4>
      <p>Thank you for interest.</p>
    </div>
    <div>
        <h4>Contact</h4>
        <p>
          If you have any questions or suggestions, please contact: 
        </p>
      </div>
  </jumbotron>
  <!-- </div> -->
</section>


{% endblock %}