{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Add a new ebook:{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Search </a></li>
<li class="breadcrumb-item active">Search book:</li>
{% endblock %}

{% block content %}

  <div>
    <form action="{% url 'search_results' %}" method="GET">
        <label for="author">Author</label>
      <input name="author" type="text" placeholder="Search..." autofocus>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  
 

{% endblock %}